<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Meta" />
    <title>@ViewData["Title"] | Dashbord</title>
    <partial name="_Styles" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body data-theme="default" data-layout="fluid" data-sidebar="right">
    <div class="wrapper">
        <nav id="sidebar" class="sidebar" style="direction: rtl;">
            <div class="sidebar-content js-simplebar">
                <partial name="_Sidebar" />
            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <partial name="_Navbar" />
            </nav>

            <main class="content">
                <div class="container-fluid p-0">
                    @RenderBody()
                </div>
            </main>
            <partial name="_Footer" />
        </div>
    </div>
    <partial name="_Scripts" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
