<a class="sidebar-brand" href="index.html">
    <span class="align-middle">AdminKit</span>
</a>

<ul class="sidebar-nav">
    <li class="sidebar-header">
        Pages
    </li>
    <li class="sidebar-item active">
        <a data-target="#dashboards" data-toggle="collapse" class="sidebar-link">
            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboards</span>
        </a>
        <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse show" data-parent="#sidebar">
            <li class="sidebar-item active"><a class="sidebar-link" href="/">Analytics</a></li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/Dashboard_Ecommerce">
                    E-Commerce <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/Dashboard_Crypto">
                    Crypto <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="sidebar-item">
        <a data-target="#pages" data-toggle="collapse" class="sidebar-link collapsed">
            <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Pages</span>
        </a>
        <ul id="pages" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
            <li class="sidebar-item">
                <a class="sidebar-link" href="/Settings">
                    Settings
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/Projects">
                    Projects
                    <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/Clients">
                    Clients
                    <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/Pricing">
                    Pricing
                    <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/Chat">
                    Chat
                    <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/BlankPage">
                    Blank Page
                </a>
            </li>
        </ul>
    </li>

    <li class="sidebar-item">
        <a class="sidebar-link" href="/Profile">
            <i class="align-middle" data-feather="user"></i>
            <span class="align-middle">
                Profile
            </span>
        </a>
    </li>

    <li class="sidebar-item">
        <a class="sidebar-link" href="/Invoice">
            <i class="align-middle" data-feather="credit-card"></i>
            <span class="align-middle">
                Invoice
            </span>
        </a>
    </li>

    <li class="sidebar-item">
        <a class="sidebar-link" href="/Tasks">
            <i class="align-middle" data-feather="list"></i>
            <span class="align-middle">
                Tasks
            </span>
            <span class="sidebar-badge badge bg-primary">Pro</span>
        </a>
    </li>

    <li class="sidebar-item">
        <a class="sidebar-link" href="/Calendar">
            <i class="align-middle" data-feather="calendar"></i>
            <span class="align-middle">
                Calendar
            </span>
            <span class="sidebar-badge badge bg-primary">Pro</span>
        </a>
    </li>

    <li class="sidebar-item">
        <a href="#auth" data-toggle="collapse" class="sidebar-link collapsed">
            <i class="align-middle" data-feather="users"></i> <span class="align-middle">Auth</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
            <li class="sidebar-item">
                <a class="sidebar-link" href="/SignIn">
                    Sign In
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/SignUp">
                    Sign Up
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/ResetPassword">
                    Reset Password
                    <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/_404">
                    404 Page
                    <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
            <li class="sidebar-item"><a class="sidebar-link" href="/_500">500 Page<span class="sidebar-badge badge bg-primary">Pro</span></a></li>
        </ul>
    </li>

    <li class="sidebar-header">
        Tools & Components
    </li>
    <li class="sidebar-item">
        <a data-target="#ui" data-toggle="collapse" class="sidebar-link collapsed">
            <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">UI Elements</span>
        </a>
        <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
            <li class="sidebar-item"><a class="sidebar-link" href="/Alerts">Alerts</a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="/Buttons">Buttons</a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="/Cards">Cards</a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="/General">General</a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="/Grid">Grid</a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="/Modals">Modals</a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="/Tabs">Tabs<span class="sidebar-badge badge bg-primary">Pro</span></a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="/Typography">Typography</a></li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a data-target="#icons" data-toggle="collapse" class="sidebar-link collapsed">
            <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Icons</span>
            <span class="sidebar-badge badge bg-light">1.500+</span>
        </a>
        <ul id="icons" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
            <li class="sidebar-item">
                <a class="sidebar-link" href="/Feather">
                    Feather
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/FontAwesome ">
                    Font Awesome
                    <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a data-target="#forms" data-toggle="collapse" class="sidebar-link collapsed">
            <i class="align-middle" data-feather="check-circle"></i><span class="align-middle">Forms</span>
        </a>
        <ul id="forms" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
            <li class="sidebar-item"><a class="sidebar-link" href="/FormLayouts">Form Layouts</a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="/BasicInputs">Basic Inputs</a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="/InputGroups">Input Groups <span class="sidebar-badge badge bg-primary">Pro</span></a></li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/Tables">
            <i class="align-middle" data-feather="list"></i> <span class="align-middle">Tables</span>
        </a>
    </li>

    <li class="sidebar-header">
        Plugins & Addons
    </li>
    <li class="sidebar-item">
        <a data-target="#form-plugins" data-toggle="collapse" class="sidebar-link collapsed">
            <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Form Plugins</span>
        </a>
        <ul id="form-plugins" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
            <li class="sidebar-item">
                <a class="sidebar-link" href="/FormAdvanced">
                    Advanced Inputs
                    <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/Editors">
                    Editors <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/Validation">
                    Validation <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a data-target="#datatables" data-toggle="collapse" class="sidebar-link collapsed">
            <i class="align-middle" data-feather="list"></i> <span class="align-middle">DataTables</span>
        </a>
        <ul id="datatables" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
            <li class="sidebar-item">
                <a class="sidebar-link" href="/ResponsiveTable">
                    Responsive Table <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/TableButtons">
                    Table with Buttons <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/ColumnSearch">
                    Column Search <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/AjaxSourced">
                    Ajax Sourced Data <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a data-target="#charts" data-toggle="collapse" class="sidebar-link collapsed">
            <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
        </a>
        <ul id="charts" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
            <li class="sidebar-item"><a class="sidebar-link" href="/Chart">Chart.js</a></li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/ApexCharts">
                    ApexCharts <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/Notifications">
            <i class="align-middle" data-feather="bell"></i> <span class="align-middle">Notifications</span>
            <span class="sidebar-badge badge bg-primary">Pro</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a data-target="#maps" data-toggle="collapse" class="sidebar-link collapsed">
            <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
        </a>
        <ul id="maps" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
            <li class="sidebar-item"><a class="sidebar-link" href="/GoogleMaps">Google Maps</a></li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/VectorMaps">
                    Vector Maps <span class="sidebar-badge badge bg-primary">Pro</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="sidebar-item">
        <a data-target="#multi" data-toggle="collapse" class="sidebar-link collapsed">
            <i class="align-middle" data-feather="corner-right-down"></i> <span class="align-middle">Multi Level</span>
        </a>
        <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
            <li class="sidebar-item">
                <a data-target="#multi-2" data-toggle="collapse" class="sidebar-link collapsed">Two Levels</a>
                <ul id="multi-2" class="sidebar-dropdown list-unstyled collapse">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#">Item 1</a>
                        <a class="sidebar-link" href="#">Item 2</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a data-target="#multi-3" data-toggle="collapse" class="sidebar-link collapsed">Three Levels</a>
                <ul id="multi-3" class="sidebar-dropdown list-unstyled collapse">
                    <li class="sidebar-item">
                        <a data-target="#multi-3-1" data-toggle="collapse" class="sidebar-link collapsed">Item 1</a>
                        <ul id="multi-3-1" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="#">Item 1</a>
                                <a class="sidebar-link" href="#">Item 2</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#">Item 2</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
